[submodule "pure"]
	path = pure
	url = https://github.com/PurePelicanTheme/pure.git
[submodule "pure-single"]
	path = pure-single
	url = https://github.com/PurePelicanTheme/pure-single.git
[submodule "output"]
	path = output
	url = https://github.com/jmcguinness11/jmcguinness11.github.io
	ignore = all
